<ion-header no-border>

  <div class="cabeceraGeneral">
    <img src="../../assets/images/PulmanLogo.png" routerLink="/pagina3"
      style="padding: 1vh; position: relative; z-index: 100; height: 100%; width: 100%; object-fit: scale-down; margin: 30%; ">
  </div>

</ion-header>



<ion-content>
  <div style="height: 100%; width: 100%;background-color: #fe5b00;padding: 0px 3vw  3vw  3vw">
    <div style=" height: 100%; background-color: white ;margin: 0px 0px 0px 0px;">
      <ion-grid style="height: 100%;">
        <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
          <ion-col size="12" style="text-align: center;">



            <ion-row>
              <ion-col size="12">
                <ion-button  routerLink="/pagina2"  size="full" style="text-transform: none; height: 50vh; margin-top: 4vh; height: 7vh;">
                  Volver
                </ion-button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-button routerLink="/home" size="full" style="text-transform: none; height: 50vh; margin-top: 4vh; height: 7vh;">
                  Cerrar sesión
                </ion-button>
              </ion-col>
            </ion-row>


          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>