ion-header {
    height: 15vh;
    width: 100vw;
    background-color: #fe5b00;
    text-align: center;
    color: white;
  }
  
  .cabeceraGeneral {
    height: 15vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cabeceraTitulo {
    height: 2vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    font-style: italic;
    padding-bottom: 5vh;
  }
  
  .footerStart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width: 100%;
    text-align: center;
  }
  
  .botonMenu {
    display: inline;
    // width: 33%;
    border: solid 1px;
    border-color: orange;
    background-color: white;
    margin: 3px;
  }
  
  .btnMenuIcono {
    justify-content: center;
    height: 50%;
    padding-top: 3vh;
    color: orangered;
    font-size: 9vh;
  }
  
  .btnMenuTexto {
    justify-content: center;
    height: 50%;
    padding-top: 4vh;
    color: orangered;
    font-size: 2vh;
  }
  
  ion-input {
    display: inline-block;
    box-sizing: content-box;
    // padding: 7px 10px;
    border: 1px solid #ff9900;
    -webkit-border-radius: 27px;
    border-radius: 5px;
    width: -webkit-fill-available;
    height: 6vh;
    padding-left: 5px;
    font-size: 5vh;
  }
  
  .ingresar {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 7px 10px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    color: rgba(255, 255, 255, 1);
    background: #2727e8;
    width: 40vw;
  }
  
  .columnaDoble {
    padding-right: 0px;
  }
  
  .fechax {
    // border-color: Corange;
    // border: orange solid;
    padding-right: -5px;
  }
  
  ion-select {
    border-radius: 6px;
    width: -webkit-fill-available;
    background-color: white;
    height: 7vw;
    padding: 4px 0px 0px 5px;
    border: 1px solid orange;
  }
  
  ion-checkbox {
    height: 15px;
    width: 15px;
    margin-left: 7px;
    margin-top: -2px;
  }
  
  ion-button{
    height: 5vh;
    font-size: 5vw;
  }